* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 60px;
    text-align: center;
    margin-top: 40px;
}

h2 {
    width: 30%;
    padding: 4px;
    border: 1px solid black;
    float: right;
    text-align: center;
    
}

.section {
    background-color: gray;
    border: 1px solid black;
}

.item {
    background-color: white;
    
}

p {
    padding: 12px;
    clear: right;
}


#chicken {
    background-color: lightcoral;
}

#beef {
    background-color: brown;
    color: white;
}

#sushi {
    background-color: moccasin;
    
}

.row {
    width: 100%;
}

@media (min-width: 992px) {

    .col-lg-4 {
        float: left;
        padding: 1%;
    }

    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .col-md-6 {
        float: left;
        padding: 1%;
    }

    .col-md-6 {
        width: 50%;
    }

}

@media (max-width: 767px) {

    .col-sm-12 {
        float: left;
        padding: 1%;
    }

    .col-sm-12 {
        width: 100%;
    }

}